*{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height:100%;
    width:100%;
}
#gridContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
}

#gridContainer div{
    border: 2px solid black;   
}



